.about-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--main-bright);
}

.about-component h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 130px 0 120px 0;
  text-shadow: 1px 1px 2px var(--main-dark);
}

.about-component h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px 0;
  /* text-shadow: 1px 1px 2px var(--main-dark); */
}

.about-text-wrapper {
  width: 60%;
  margin: 50px 0;
}

.about-component div p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.skills-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 50px 0;
}
