.about-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: var(--main-bright);
}

.about-component h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 130px 0 120px 0;
  text-shadow: 1px 1px 2px var(--main-dark);
}

.about-component h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px 0;
  /* text-shadow: 1px 1px 2px var(--main-dark); */
}

@media only screen and (max-width: 350px) {
  .about-component h3 {
    font-size: 18px;
    max-width: 90%;
  }
}

.about-text-wrapper {
  width: 55%;
  margin: 20px 0 120px;
}

@media only screen and (max-width: 1200px) {
  .about-text-wrapper {
    width: 75%;
  }
}

.about-text-wrapper p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

.skills-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 30px 0 50px;
}

@media only screen and (max-width: 1200px) {
  .skills-card-wrapper {
    width: 80%;
  }
}
