.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

.page-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--main-bright);
}

.page-component h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 30px 0;
  text-shadow: 2px  2px 3px var(--main-dark);
}
