.footer-component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer-component ul {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-component ul li i {
  color: var(--main-bright);
  text-shadow: 1px 1px 2px var(--main-dark);
  font-size: 30px;
  padding: 10px;
  margin: 0 10px;
}

.footer-component ul li i:hover {
  color: var(--main-grey);
}
