.nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.nav li {
  padding: 5px;
  margin: 10px;
}

.nav li .nav-link {
  color: var(--main-bright);
  text-decoration: none;
  font-weight: bold;
}

.nav li .nav-link:hover {
  color: var(--main-grey);
}
