.project-card-component {
  font-family: "JetBrains Mono", monospace;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 300px;
  /* IMG */
  background-position: center;
  background-size: cover;
}

.project-card-component h4 {
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  max-width: 100%;
  background: var(--main-dark);
  opacity: 0.8;
}
