.skills-component {
  font-family: "JetBrains Mono", monospace;
  border: solid 2px var(--main-bright);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  min-height: 430px;  
  /* margin: 20px; */
  padding: 20px;
}

.skills-component i {
  font-size: 60px;
  margin: 30px 0;
}

.skills-component h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0;
}

.skills-component div {
  width: 100%;
}

.skills-component div p {
  margin: 0 0 10px 0;
}

.skills-component div h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
}

.skills-component div div {
  display: flex;
  flex-wrap: wrap;
}

.skills-component div div p {
  margin: 0 5px 0 0;
}
